@model IEnumerable<Call4Pizza_reservation.Models.MealComposition>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ingredient.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meal.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ingredientAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ingredient.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Meal.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ingredientAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
